@tailwind base;
@tailwind components;
@tailwind utilities;

.applyBtn {
    background-color: rgb(37 99 235);
    color: white;
    border-radius: 0.25rem;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


.styled-input {
    @apply block w-full m-0 mt-1 text-sm font-normal text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded form-control bg-clip-padding focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.styled-textarea {
    @apply block w-full m-0 mt-1 text-sm font-normal text-gray-700 transition ease-in-out bg-white border border-gray-300 border-solid rounded form-control bg-clip-padding focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.styled-input--readonly {
    @apply block w-full m-0 mt-1 text-sm font-normal text-gray-700 transition ease-in-out bg-gray-100 border border-gray-300 border-solid rounded form-control bg-clip-padding focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}
